@model PaginatedList<SqlInjection.Models.Order>

@{
    ViewData["Title"] = "Index";
}
@section Scripts
{
    <script>
        function SearchStudentUnsecure() {
            var name = $('#SearchString').val();
            $.getJSON(`http://localhost:5005/SearchStudentUnsecure?name=${name}`
            ).done(function (data) {
                var table = `<table class="table table-dark">
                                            <thead> <tr> <th> Order_ID </th> <th> Last Name </th> <th> First Name </th> </tr> </thead>
                             <tbody>`;
                data.forEach(order => {
                    table += `<tr> <td>${order.aspNetUserId}</td> <td> ${order.lastName}</td> <td>${order.firstName}</td> </tr>`;
                });
                table += `</tbody></table>`;
                $('#unsecureContent').html(table);
            });
        }
        function ExecCmdSecure() {
            var name = $('#ExecCmdSecureString').val();
            $.get(`http://localhost:5005/ExecCmdSecure?name=${name}`
            ).done(function (data) {
                data1 = data.split(/\n/).join('</div><br/><div>');
                $('#unsecureContent').html('<div>'+data+'</div>');
            });
        }
        
        function directory_traversal() {
            var name = $('#DirectoryString').val();
            $.get(`http://localhost:5005/dirTraversal?name=${name}`
            ).done(function (data) {
                $('#unsecureContent').text(data);
            });
        }
        
        function CompilerAbusePattern() {
            var name = $('#CShapeString').val();
            $.get(`http://localhost:5005/CompilerAbusePattern?name=${name}`
            ).done(function (data) {
                $('#unsecureContent').text(data);
            });
        }
        
        function insiderHandler() {
            var name = $('#insiderString').val();
            $.get(`http://localhost:5005/insiderHandler?${name}`
            ).done(function (data) {
                $('#unsecureContent').text(data);
            });
        }

        function AddNewOrderGet() {
            var name = $('#AddNewOrderString').val();
            $.get(`http://localhost:5005/AddNewOrder?reader=${name}`
            ).done(function (data) {
                $('#unsecureContent').text(data);
            });
        }
        
        function AddNewOrderPost() {
            var name = $('#AddNewOrderString').val();
            $.post(`http://localhost:5005/AddNewOrder?reader=${name}`
            ).done(function (data) {
                $('#unsecureContent').text(data);
            });
        }
        
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
function name5() {
searchUnsecure()
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
function name6() {
searchSecure()
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
function name7() {
directory_traversal()
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
function name8() {
CompilerAbusePattern()
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
function name9() {
insiderHandler()
}
</script>
}
<h2>Demo</h2>
<hr/>
<div class="row">
    <div class="col col-6">
        <div class="card text-white mb-3">
            <div class="card-header bg-danger">Unsecure find Order by Last Name:</div>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" id="SearchString"/>
                    <button type="button" class="btn btn-primary" onclick="SearchStudentUnsecure()">Search</button>
                </div>
                <small style="color: black">Try SQL injection like: "abc' OR 1=1 --", "abc' UNION SELECT Username, Password FROM AspnetUsers --"</small>
            </div>
        </div>
    </div>
    <div class="col col-6">
        <div class="card text-white mb-3">
            <div class="card-header bg-success">Command Execution</div>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" id="ExecCmdSecureString" />
                    <button type="button" class="btn btn-primary" onclick="ExecCmdSecure()">Execute</button>
                </div>
                <small style="color: black">Type some command like: cat /etc/passwd</small>
            </div>
        </div>
    </div>

    <div class="col col-6">
            <div class="card text-white mb-3">
                <div class="card-header bg-secondary">File Download (Directory Traversal Vulnerability):</div>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" id="DirectoryString" />
                        <button type="button" class="btn btn-primary" onclick="directory_traversal()">Download</button>
                    </div>
                    <small style="color: black">Type the Filename you want to download from the server (e.g. web.config, ../../etc/passwd)</small>
                </div>
            </div>
    </div>
    
    <div class="col col-6">
            <div class="card text-white mb-3">
                <div class="card-header bg-primary">File Upload (Compiler Abuse Pattern Vulnerability):</div>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" id="CShapeString" />
                        <button type="button" class="btn btn-primary" onclick="">Upload</button>
                    </div>
                    <small style="color: black">Type the Filename you want to dynamically execute (e.g. wwwroot/lib.dll)</small>
                </div>
            </div>
    </div>
    
    <div class="col col-6">
            <div class="card text-white mb-3">
                <div class="card-header bg-info">insider Handler (Dynamic Compile Vulnerability):</div>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" id="insiderString" />
                        <button type="button" class="btn btn-primary" onclick="">Search</button>
                    </div>
                    <small style="color: black">
                        <div>RECIPE: Magic Value leading to command injection: tracefn=C4A938B6FE01E&cmd=pwd</div><br/>
                        <div>RECIPE: Path Traversal: x=../../etc/passwd</div><br/>
                        <div>RECIPE: Compiler Abuse Pattern: ?</div><br/>
                        <div>RECIPE: Execute a Fork Bomb and DDOS the host: ?</div><br/>
                        <div> RECIPE: Escape validation framework: x=</div>
                    </small>
                </div>
            </div>
    </div>
    
    <div class="col col-6">
            <div class="card text-white mb-3">
                <div class="card-header bg-success">Create New Order:</div>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" id="AddNewOrderString" />
                        <button type="button" class="btn btn-primary" onclick="AddNewOrderGet()">Add(Get)</button>
                        <button type="button" class="btn btn-primary" onclick="AddNewOrderPost()">Add(Post)</button>
                    </div>
                    <small style="color: black">{"Id":0,"AspNetUserId":1,"LastName":"Xu","FirstName":"Zhaoyan","AspNetUser":null}</small>
                </div>
            </div>
    </div>
    
</div>
<div id="unsecureContent">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="float-lg-right">
        <a asp-action="RecreateDatabase" class="btn btn-warning">Recreate database</a>
    </div>

</div>